header{
    text-align: center;
}

.about {
    background-color: rgb(213, 136, 136);
}

.about h1{
    text-align: center;
    background-color: antiquewhite;
}

.about img{
    border-radius: 50%;
    border-style: double;
    border-color: darkmagenta;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about p{
    text-align: center;
}

.skills h1{
    text-align: center;
    background-color: antiquewhite;
}

.achievements h1{
    text-align: center;
    background-color: antiquewhite;
}

.projects h1{
    text-align: center;
    background-color: antiquewhite;
}

.cv{
    background-color: darkgray;
}

.cv h1{
    text-align: center;
    background-color: antiquewhite;
}

.cv a{
    display: block;
    text-align: center;
    border-style: solid;
    border-radius: 25%;
    margin-left: 25%;
    width: 50%;
    background-color: lightgreen;
    font-size: 30px;
}

.contact h1{
    text-align: center;
    background-color: antiquewhite;
}