body{
    background-image: linear-gradient(to bottom right, rgba(219,181,240,255), rgba(76,28,112,255));
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 1920px 1080px;
}